.app-wrapper{
  width: 1200px;
  margin: auto;
  display:grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}
.header{
grid-area: h;
background-color: rgb(0, 132, 255);
margin-top:10px;
margin-bottom: 10px;
}
.header img{
  width: 20px;
  height: 10px;
}

.nav{
  grid-area: n;
  background-color: rgb(0, 132, 255);
  margin-right: 10px;
}

.content{
  grid-area: c;
  
  display:grid;
  grid-template-areas: 
  "mainImage mainImage"
  "avatar description";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 1fr 7fr;
}
.mainImage {
  grid-area: mainImage;
  margin-bottom: 30px;

}
.mainImage img{
  
  width: 1000px;
  height: 140px;
  margin-bottom: px;
}
.avatar{
  margin-top: 10px;

  grid-area: avatar;
  background-color: #c8ddf8;
}
.avatar img{
  
  margin-top: 10px;
  width: 60px;
  height: 60px;
}
.description {
  margin-top: 10px;
  grid-area: description;
  background-color: #c8ddf8;
  
}
.posts{
  height: 200px;
  margin-top: 10px;
  background-color: cornsilk;
}